# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Useful-Resources\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\sshah\Documents\New folder\Useful-Resources\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
